* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0 !important;
  min-height: 100vh;
}

.confirmTextarea {
  resize: none;
}

.layout {
  padding: 1rem;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centeredText {
  display: grid;
  justify-content: center;
  text-align: center;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
